* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.body {
    width: 100%;
    min-height: 100vh;
}

.img {
    width: 100%;
}

*::selection {
    background: #006241;
    color: #fff;
}

.header {
    background: #006241;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 17px 0px rgba(0, 0, 0.75);
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
}

.header__logo {
    width: 45px;
}

.header__container-user {
    display: none;
}

.header__nav, 
.header__user{
    display: none;
}

.header__container-user-mobile {
    display: flex;
    align-items: center;

}

.header__container-user-mobile i {
    color: #fff;
    font-size: 27px;
}

.main__container-logo {
   
   
    display: none;
}

.main {
   padding: 15px 15px 60px;
   margin-top: 80px ;
    
}

.main__title {
    font-size: 50px;
    line-height: 1.2;
}

.main__title span {
    color: #006241;
}

.main__description {
    font-weight: bolder;
    margin-top: 20px;
    width: 100%;
}

.main__contanier-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.gallery {
    background: #006241;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery__img {
    width: 75%;
    margin-top: 15px;
}

.contact {
    background: #0e0e0e;
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact__title {
    color: #006241;
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
}

.contact__form {
    background: #006241;
    padding: 15px;
    color: #fff;
    width: 300px;
}

.contact__input label {
    font-size: 14px;
}

.contact__input {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.contact__input input ::placeholder,
.contact__input textarea ::placeholder {
    font-size: 12px;
    color: #006241;
    font-weight: bolder;
}

.contact__input input,
.contact__input textarea {
    padding: 5px 5px;
    border-radius: 7.5px;
    border: 0;
}
.contact__input input:focus,
.contact__input textarea:focus {
    background:#0e0e0e;
}

.contact__btn {
    background: inherit;
    border: 1px solid #fff;
    color: #fff;
    width: 45%;
    margin-top: 20px;
    border-radius: 7.5px;
    padding: 4px 0;
    transition: all 0.5;
}

.contact__btn:hover {
    background: yellow;
    border: 1px solid #fff;
}

.cards__cards {
    background: #006241;
    margin-top: 45px;
    color: #fff;
    position: relative;
    width: 85%;
}

.cards {
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards__cards-img {
    width: 100%;
}

.cards__cards-title span {
    color: yellow;
}

.cards__cards-container-text {
    padding: 25px 15px;
}

.cards__cards-description {
    font-size: 14px;
    margin: 7.5px 0 15px;
}

.cards__cards-btn {
    background: inherit;
    border: 1px solid #fff;
    color: #fff;
    width: 120px;
    margin-top: 20px;
    border-radius: 7.5px;
    padding: 5px 30px;
    font-size: 13px;
    transition: all 0.5s;
    text-decoration: none;
    margin-bottom: 15px;
}

.cards__cards-btn :hover {
    background: yellow;
    border: 1px solid yellow;
}

.cards__cards-container-btn {
    display: flex;
    flex-direction: column;
}

.cards__cards-container-btn a {
    width: 100%;
    margin: 7.5px 0 0;
    text-align: center;
}

.cards__cards-circle {
    background: yellow;
    width: 65px;
    height: 65px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: -25px;
    right: -25px;
}

.footer{
    background: #000;
    padding: 25px 15px;
}

.footer__container-user {
    display: flex;
    flex-direction: column;
}

.footer__link-user {
    color: #006241;
    text-decoration: none;
    font-size: 20px;
}

.footer__container-social {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.footer__container-social i {
    color: #006241;
    font-size: 22px;
}

.footer__link-contact {
    text-decoration: none;
    color: #74d3b3;
}

@media (min-width: 768px) {
    .header__container-user-mobile {
        display: none;
    }
    .header__container-user {
        display: block;
    }

    .header__container-user i {
        color: white;
        font-size: 25px;
    }

    .header__nav {
        display: block;
    }

    .header__nav-link {
        text-decoration: none;
        color: white;
        margin-left: 15px;
    }

    .main__container-logo {
        display: block;
    }

    .main__logo {
        width: 80%;
    }

    .main__contanier-text {
        width: 50%;
    }

    .main__container-logo {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main {
        display: flex;
        padding: 15px 30px 60px;
    }

    .gallery {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .gallery__img {
        width: 30%;
        margin-top: 0;
    }

    .contact__form {
        width: 400px;
    }

    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .cards__cards {
        width: 40%;
    }

    .footer {
        display: flex;
        justify-content: space-between;
    }

}

@media (min-width: 1024px) {

    .main__logo {
        width: 350px;
    }

    .main {
        display: flex;
        padding: 15px 100px 60px;
    }

    .contact__form {
        width: 800px;
    }

    .contact__input label {
        font-size: 17px;
    }

    .cards__cards {
        width: 450px;
        height: 400px;
        margin: 25px 50px;
    }

    .cards__cards-container-btn {
        display: flex;
        flex-direction: row;
    }

    .cards__cards-container-btn a {
        margin-left: 7.5px;
    }

    .footer {
        height: 200px;
        align-items: center;
    }
   
}